@import "./utils/variables";
@import "./base/reset";
@import "./base/common";
@import "./utils/mixins";

// COMPONENTS

// @import "./components/logo";
// @import "./components/page-header";
// @import "./components/hero";
// @import "./components/benefits";
// @import "./components/page-titles";
// @import "./components/our-work";
// @import "./components/command";
// @import "./components/icon-command";
// @import "./components/customers";
// @import "./components/footer";
// @import "./components/icon-footer";
// @import "./components/footer-form";
// @import "./components/btn";
// @import "./components/work-examples";
// @import "./components/modal";

// ADAPTIVE
@import "./adaptive/page-header";
@import "./adaptive/logo";
@import "./adaptive/menu-container";
@import "./adaptive/hero";
@import "./adaptive/benefits";
@import "./adaptive/our-work";
@import "./adaptive/page-titles";
@import "./adaptive/command";
@import "./adaptive/icon-command";
@import "./adaptive/customers";
@import "./adaptive/footer";
@import "./adaptive/footer-form";
@import "./adaptive/icon-footer";
@import "./adaptive/btn";
@import "./adaptive/modal";
@import "./adaptive/work-examples";




