.list-btn {
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: -15px;
  padding-left: 0;
  
  @include tab {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-left: 0;
  }

  @include desk {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-left: 0;
  }
}
.list-btn__item {
  &:not(:last-child) {
  margin-right: 8px;
}
margin-top: 15px;
}


.list-btn__item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  cursor: pointer;
  transition: background-color var(--transition-duration-timing-function),
  color var(--transition-duration-timing-function),
  background var(--transition-duration-timing-function),
  box-shadow var(--transition-duration-timing-function);
  &:hover {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
}
}
