.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-customers__page-title {
  margin-bottom: 50px;
}

.list-logos {
display: flex;
flex-wrap: wrap;
list-style: none;
justify-content: center;
padding: 0;
margin-bottom: -30px;
@include tab {
margin-right: -30px;
}
@include desk {
flex-wrap: nowrap;
}
}

.list-logos__item:nth-child(2n+1) {  
  margin-right: 30px;
}
.list-logos__item {
margin-bottom: 30px;
width: calc(100% / 2 - 30px);
@include tab{
margin-right: 30px;
width: calc(100% / 3 - 30px);
@include desk {
.list-logos__item:not(:last-child) {
margin-right: 30px; }
}
}
}

.list-logos__icon {
  fill: currentColor
}



  @include tab {
display: flex;
flex-wrap: wrap;
list-style: none;
justify-content: center;
padding: 0;
  }
@include desk {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0;
}


.list-logos__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: color var(--transition-duration-timing-function),
  border var(--transition-duration-timing-function);
  &:hover,
  &:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}
}


