
.container-footer {
  padding: 60px 0 60px 0;
  @include tab {
 display: flex;
 justify-content:space-around;
align-items: center;
flex-wrap: wrap;

  }
  @include desk {
display: flex;
align-items: flex-start;
flex-wrap: nowrap;

  }
}

.сontacts {
  display: inline-block;
  padding-left: 0;
}

.сontacts-box {
  text-align: center;
  @include desk {
  text-align: start;
  }
}

.сontacts__item:not(:last-child) {
  margin-bottom: 9px;
}


.footer {
  background: var(--footer-background-color);
 text-align: center;
}

%link-hover {
  transition: color var(--transition-duration-timing-function);
&:hover,
&:focus {
  color: var(--interactive-element-color);
}
}

.contact-address,
.mail-contacts,
.tel-contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
@extend %link-hover;
}
.contact-address {
  color: #ffffff;
}
.mail-contacts,
.tel-contacts {
color: rgba(255, 255, 255, 0.6);
}

