
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding: 48px 40px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

}

.is-open {
transform: translateX(0);
}

.menu-container__toggle{
position: absolute;
right:15px;
top: 10px;
}

.menu-list__link {
font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #212121;
&:hover {
color:#2196F3;
}
}

.menu-list__item:not(:last-child),
.menu-contact__item:not(:last-child){
    margin-bottom: 32px;
}

.menu-container__menu-list {
    margin-bottom: 32px;
}

.menu-contact__tel {
font-weight: 500;
font-size: 34px;
line-height: (40px / 34px);
letter-spacing: 0.02em;
color: #2196F3;
width: 100%;
@media screen and (max-width: 442px){
font-size: 22px;
}
}

.menu-contact__mailto{
font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;
color: #757575; 
}

.menu-container__menu-contact {
    margin-bottom: 64px;
}

.menu-social__link {
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.02em;
color: #2196F3;

}

.menu-social {
 display: flex;
 text-align: center;
 justify-content: start;
 @media screen and (max-width: 442px) {
flex-wrap: wrap;
 }
}

.menu-social__item:not(:last-child)::after{
content:"";
border-right: 1px solid rgba(33, 33, 33, 0.2);
transform: rotate(90deg);
margin: 0 10px;
}

.menu-container.is-open {
  transform: translateX(0);
}

.toggle__icon-close:hover,
.toggle__icon-menu:hover {
 fill: #2196F3;
}

.toggle{
  border: none;
  background-color: white;
  @include tab {
display: none;
}
}

