.nav-list__link--active::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: flex;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
}

.nav-list__item {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 0;
  justify-content: space-between;
  @include desk {
    width: auto;
  justify-content: space-between;
}
}

.nav-list {
  @media screen and  (max-width: 767px){
  display: none;}
  @include tab {
    display: flex;
  align-items: center;
  padding: 0;
  margin-left: 88px;
  margin-right: 84px;
  }
  @include desk {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 93px;
  margin-right: 0;
  }
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

 
  .list-contact .list-contact__item + .list-contact__item {
  @include tab {
margin-left: 0px;
}
 @include desk { margin-left: 30px;
}
}

.list-contact {
@media screen and  (max-width: 767px){
display: none;
}
@media screen and  (min-width: 768px) and (max-width: 1200px) {
display: flex;
flex-direction: column;
align-items:flex-start;
padding-left: 0;
padding-right: 20px;
margin-left: auto;
}
@include desk {
display: flex;
justify-content: center;
align-items: center;
padding-left: 0;
margin-left: auto;
}

}

.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color var(--transition-duration-timing-function);
&:hover,
&:focus {
  color: var(--interactive-element-color);
}
}

.nav-list__link--active {
  color: var(--interactive-element-color);
}

.list-contact__link {
display: flex;
padding-top: 32px;
padding-bottom: 32px;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--paragraph-text-color);
align-items: center;
transition: color var(--transition-duration-timing-function);
@media screen and  (min-width: 768px) and (max-width: 1200px) {
padding: 0;
font-size: 12px;
line-height: 1.85;
}
&:hover,
&:focus {
  color: var(--interactive-element-color);
}
}


.list-contact__icon-mail,
.list-contact__icon-tel {
  display: flex;
  margin-right: 10px;
  fill: currentColor;
}

.toggle{
  border: none;
  background-color: white;
}
