.page-title {
  font-size: 28px;
  line-height: 1.18;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  @include desk { 
    font-size: 36px;
  line-height: 1.16; }
}