.command {
  background-color: #f5f4fa;
}

.command-list {
  display: flex;
  padding-left: 0;
}
.command__title {
  margin-bottom: 50px;
}
.command-list__card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  list-style: none;
  background-color: #ffffff;
  &:not(:last-child) {
  margin-right: 30px;
}
}

.card__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.card__name {
  text-align: center;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.card__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}