
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.body {
  font-family: Roboto, sans-serif;
  color: var(--paragraph-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
