
.section {
padding-top: 60px;
padding-bottom: 60px;
@media screen and ( min-width: 1200px){
padding-top: 94px;
padding-bottom: 94px;
 }
}
.body {
  font-family: Roboto, sans-serif;
  color: var(--paragraph-text-color);
}

.container {
  min-width: 320px;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
 @media screen and ( min-width: 480px){
   width: 460px;
 }
   
  @media screen and ( min-width: 768px){
   width: 750px;
 }
  @media screen and ( min-width: 1200px){
   width: 1200px;
 }
 } 
